// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#blog-title {
  color: #355e3b;
  font-size: 24pt;
}

.post {
  padding-top: 5px;
  padding-bottom: 5px;
  .title {
    font-size: 18pt;
  }
  
  .subtitle {
    font-size: 14pt;
    color: #355e3b;
  }
}